@use "../../../src/styles/partials/variables" as *;
@use "../../../src/styles/partials/globals" as *;
@use "../../../src/styles/partials/mixins" as *;

.collection {
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 1rem;
  max-width: 18.75rem;
  display: flex;
  flex-wrap: wrap;
  min-width: 10rem;
  min-height: 40rem;
  max-height: 40rem;
  &__description {
    margin: 0 1rem;
  }
  &__preview {
    max-width: 100%;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: baseline;
    @include tablet {
      min-height: 400px;
    }
  }
  &__title {
      // width: 100%;
  }
}
