// Breakpoints
$desktop-break: 1280px;
$tablet-break: 768px;

// Colors
$primarydark: #323232;
$primarylight: #0095ff;

$secondarydark: #212727;
$secondarylight: #0065ad;

$secondarymercury: #e1e1e1;
$secondaryalabaster: #fafafa;
