@use "../../styles/partials/variables" as *;

footer {
  height: 50px;
  width: 100%;
  bottom: 0;
  position: fixed;
  display: flex;
  align-items: center;
  background-color: $primarylight;
  color: white;
}

.foot-nav {
  display: flex;
  justify-content: space-around;
  width: -webkit-fill-available;
}
