@use "../../styles/partials/variables" as *;

footer {
  height: 50px;
  width: 100%;
  bottom: 0;
  position: fixed;

  background-color: $primarylight;
  color: white;
}

.foot-nav {
  display: flex;
  justify-content: center;
}

.foot-nav-initial {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.foot-nav-current, .foot-nav-initial:hover {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  height: 100%;
  border-bottom: 6px solid white;
}
