@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.header {
  height: 56px;
  display: flex;
  align-items: center;
  background-color: $primarylight;
  color: white;
  &__nav {
    display: flex;
    justify-content: space-around;
    width: -webkit-fill-available;
  }
  &__nav-current, &__nav:hover {
    display: flex;
    justify-content: space-around;
    width: -webkit-fill-available;
    border-bottom: 6px solid white;
    padding: 4px 0;
  }
  &__logo {
    max-height: 30px;
    max-width: 30px;
  }
  &__home {
    display: flex;
    min-width: 120px;
    justify-content: space-around;
  }
}

