@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.header {
  display: flex;
  align-items: center;
  background-color: $secondarydark;
  color: white;
  &__nav {
    display: flex;
    justify-content: space-around;
    width: -webkit-fill-available;
  }
  &__logo {
    max-height: 50px;
    max-width: 50px;
  }
  &__search-bar {
    max-height: 2.25rem;
    background-color: white;
    max-width: 35vw;
    border-radius: 0.25rem;
    border-color: grey;
    padding-left: 15%;
    background-image: url(../../assets/icons/search.svg);
    background-repeat: no-repeat;
    background-position: 1rem 50%;
  }
}
