@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.header {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: $primarylight;
  color: white;
  &__nav {
    display: flex;
    justify-content: space-around;
    width: -webkit-fill-available;
  }
  &__logo {
    max-height: 30px;
    max-width: 30px;
  }
  &__home {
    display: flex;
    width: 150px;
    justify-content: space-around;

  }
}
