@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.NFT__grid {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NFT__slide {
  width: 1000px;
  max-height: 80vh;
  border-radius: 10px;
  max-width: 100%;
}

.right-arrow {
  position: absolute;
  bottom: 25%;
  right: 32px;
  font-size: 3rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  color: $primarylight;
}

.left-arrow {
  position: absolute;
  bottom: 25%;
  left: 32px;
  font-size: 3rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  color: $primarylight;
}
