.NFT {
  background-color: aqua;
  margin: 1rem;
  padding: 1rem;
  max-width: 18.75rem;
  &__preview {
    max-width: 6.25rem;
    max-height: 6.25rem;
  }
  &__grid {
    display: flex;
    flex-wrap: wrap;
  }
}
